***Can only retrieve up to 1000 data points from Flipside API***

In [201]:
import pandas as pd
import numpy as np 
import requests
import json
import time
from flipside import Flipside
import os
import traceback
from dotenv import load_dotenv
import datetime as dt
import plotly.express as px
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor



from sql.sql_scripts import mints, sales, eth_price

In [13]:
load_dotenv()

True

In [14]:
opensea_api_key = os.getenv('opensea_api_key')
print(opensea_api_key)

c0c9ef9df89042059cee12e5ca9197e9

***Listing Data***

In [15]:
def fetch_listings(api_key, delay_between_requests=1):
    base_url = "https://api.opensea.io/api/v2/listings/collection/3dns-powered-domains/all"
    headers = {
        "accept": "application/json",
        "x-api-key": api_key
    }
    params = {"limit": 100} 

    listings = []
    page_count = 0

    while True:
        response = requests.get(base_url, headers=headers, params=params)
        if response.status_code == 200:
            data = response.json()
            fetched_listings = data.get("listings", [])
            listings.extend(fetched_listings)
            page_count += 1
            
            # Extract and print the cursor
            next_cursor = data.get("next")
            print(f"Page {page_count}, Cursor: {next_cursor}, Listings Fetched: {len(fetched_listings)}")
            
            if next_cursor:
                params['next'] = next_cursor  # Update the 'next' parameter for the next request
            else:
                break  # No more pages to fetch
                
            # Implementing delay
            time.sleep(delay_between_requests)
            
        else:
            print(f"Failed to fetch data: {response.status_code}")
            break

    print(f"Total pages fetched: {page_count}")
    print(f"Total listings fetched: {len(listings)}")
    
    df = pd.DataFrame(listings)
    return df

***Descriptions***

In [16]:
def save_last_identifier(identifier):
    with open("last_identifier.txt", "w") as file:
        file.write(identifier)

def load_last_identifier():
    try:
        with open("last_identifier.txt", "r") as file:
            return file.read().strip()
    except FileNotFoundError:
        return None

In [17]:
def fetch_all_descriptions(api_key, delay_between_requests=1):
    base_url = "https://api.opensea.io/api/v2/collection/3dns-powered-domains/nfts"
    headers = {
        "accept": "application/json",
        "x-api-key": api_key
    }
    params = {"limit": 100}

    all_descriptions = []

    page_count = 0
    last_identifier = load_last_identifier()

    while True:
        if last_identifier:
            params['last_identifier'] = last_identifier

        response = requests.get(base_url, headers=headers, params=params)
        if response.status_code == 200:
            data = response.json()
            fetched_descriptions = data.get("nfts", [])
            
            if not fetched_descriptions:
                break

            # Process only name and identifier for each description
            for description in fetched_descriptions:
                processed_description = {
                    "name": description.get('name'),
                    "identifier": description.get('identifier')
                }
                all_descriptions.append(processed_description)
            
            # Update the last_identifier to the latest one fetched
            last_identifier = fetched_descriptions[-1].get('identifier')
            save_last_identifier(last_identifier)
            
            page_count += 1
            next_cursor = data.get("next")
            print(f"Page {page_count}, Cursor: {next_cursor} Descriptions Fetched: {len(fetched_descriptions)}, total fetched: {len(all_descriptions)}")
            
            if next_cursor:
                params['next'] = next_cursor
            else:
                break  # No more pages to fetch

            time.sleep(delay_between_requests)
        else:
            print(f"Failed to fetch data: {response.status_code}")
            break

    print(f"Total pages fetched: {page_count}, Total descriptions fetched: {len(all_descriptions)}")
    
    # Save the processed descriptions to a file
    df = pd.DataFrame(all_descriptions)
    return df

***Events***

In [18]:
import json
import os

def save_last_timestamp(event_type, timestamp):
    data = {}
    if os.path.exists("last_timestamps.json"):
        with open("last_timestamps.json", "r") as file:
            data = json.load(file)
    data[event_type] = timestamp
    with open("last_timestamps.json", "w") as file:
        json.dump(data, file)

def load_last_timestamp(event_type):
    if os.path.exists("last_timestamps.json"):
        with open("last_timestamps.json", "r") as file:
            data = json.load(file)
        return data.get(event_type, None)
    return None

In [19]:
def fetch_event_type(api_key, event_type, all_events, params, headers):
    base_url = f"https://api.opensea.io/api/v2/events/collection/3dns-powered-domains"
    params['event_type'] = event_type
    
    # Load the last timestamp/identifier
    last_timestamp = load_last_timestamp(event_type)
    if last_timestamp:
        params['occurred_after'] = last_timestamp
    
    page_count = 0
    while True:
        response = requests.get(base_url, headers=headers, params=params)
        if response.status_code == 200:
            data = response.json()
            fetched_events = data.get("asset_events", [])
            all_events.extend(fetched_events)
            
            if fetched_events:
                # Update the last timestamp/identifier to the latest one fetched
                last_event_time = fetched_events[-1].get("created_date")
                save_last_timestamp(event_type, last_event_time)
            
            page_count += 1
            next_cursor = data.get("next")
            print(f"Fetching {event_type}: Page {page_count}, Events Fetched: {len(fetched_events)}, Total Events: {len(all_events)}, next cursor: {next_cursor}")
            
            if next_cursor:
                params['next'] = next_cursor
            else:
                break  # No more pages to fetch

            time.sleep(1)  # Delay between requests
        else:
            print(f"Failed to fetch {event_type} data: HTTP {response.status_code}, Response: {response.text}")
            break

def fetch_all_events(api_key):
    headers = {
        "accept": "application/json",
        "x-api-key": api_key
    }
    params = {
        "limit": 50  # Adjust the limit as needed
    }

    all_events = []

    # Fetch listings
    fetch_event_type(api_key, "listing", all_events, params.copy(), headers)

    # Fetch sales
    fetch_event_type(api_key, "sale", all_events, params.copy(), headers)

    # Save the fetched events to a DataFrame
    print(f"Total events fetched: {len(all_events)}")
    df = pd.DataFrame(all_events)
    return df

***Flipside Data***

In [20]:
flipside_api_key = os.getenv("FLIPSIDE_API_KEY")
flipside = Flipside(flipside_api_key, "https://api-v2.flipsidecrypto.xyz")

In [21]:
def flipside_api_results(query):
  query_result_set = flipside.query(query)
  # what page are we starting on?
  current_page_number = 1

  # How many records do we want to return in the page?
  page_size = 1000

  # set total pages to 1 higher than the `current_page_number` until
  # we receive the total pages from `get_query_results` given the 
  # provided `page_size` (total_pages is dynamically determined by the API 
  # based on the `page_size` you provide)

  total_pages = 2


  # we'll store all the page results in `all_rows`
  all_rows = []

  while current_page_number <= total_pages:
    results = flipside.get_query_results(
      query_result_set.query_id,
      page_number=current_page_number,
      page_size=page_size
    )

    total_pages = results.page.totalPages
    if results.records:
        all_rows = all_rows + results.records
    
    current_page_number += 1

  return pd.DataFrame(all_rows)

query_result_set = flipside.query(sales)

# what page are we starting on?
current_page_number = 1

# How many records do we want to return in the page?
page_size = 1000

# set total pages to 1 higher than the `current_page_number` until
# we receive the total pages from `get_query_results` given the 
# provided `page_size` (total_pages is dynamically determined by the API 
# based on the `page_size` you provide)
total_pages = 2

# we'll store all the page results in `all_rows`
all_rows = []

while current_page_number <= total_pages:
  results = flipside.get_query_results(
    query_result_set.query_id,
    page_number=current_page_number,
    page_size=page_size
  )

  total_pages = results.page.totalPages
  if results.records:
      all_rows = all_rows + results.records
  
  current_page_number += 1

mints_df = pd.DataFrame(all_rows)



def createQueryRun(sql):
    url = "https://api-v2.flipsidecrypto.xyz/json-rpc"
    payload = json.dumps({
        "jsonrpc": "2.0",
        "method": "createQueryRun",
        "params": [{
            "resultTTLHours": 1,
            "maxAgeMinutes": 0,
            "sql": sql,
            "tags": {"source": "streamlit-demo", "env": "test"},
            "dataSource": "snowflake-default",
            "dataProvider": "flipside"
        }],
        "id": 1
    })
    headers = {'Content-Type': 'application/json', 'x-api-key': flipside_api_key}
    response = requests.post(url, headers=headers, data=payload)
    response_data = response.json()

    # Check for errors in the response
    if 'error' in response_data:
        error_message = response_data['error'].get('message', 'No error message provided')
        print("Full response data for debugging:", response_data)
        raise Exception(f"Error: {error_message}")

    if 'result' not in response_data or 'queryRun' not in response_data['result'] or 'id' not in response_data['result']['queryRun']:
        print("Unexpected response structure:", response_data)
        raise Exception("Unexpected response structure")

    query_run_id = response_data['result']['queryRun']['id']
    return response_data, query_run_id

#@st.cache_data(ttl='15m')
def getQueryResults(query_run_id, attempts=10, delay=30):
    url = "https://api-v2.flipsidecrypto.xyz/json-rpc"
    payload = json.dumps({
        "jsonrpc": "2.0",
        "method": "getQueryRunResults",
        "params": [{"queryRunId": query_run_id, "format": "json", "page": {"number": 1, "size": 10000}}],
        "id": 1
    })
    headers = {'Content-Type': 'application/json', 'x-api-key': flipside_api_key}

    for attempt in range(attempts):
        response = requests.post(url, headers=headers, data=payload)
        resp_json = response.json()
        if 'result' in resp_json:
            return resp_json  # Data is ready
        elif 'error' in resp_json and 'message' in resp_json['error'] and 'not yet completed' in resp_json['error']['message']:
            time.sleep(delay)  # Wait for a bit before retrying
        else:
            print("Unexpected response or error:", resp_json)
            break  # Break on unexpected error
    return None  # Return None if data isn't ready after all attempts

def retrieve_flipside_data(query):
    try:
        response_data, q_id = createQueryRun(query)
        if q_id:
            df_json = getQueryResults(q_id)
            if df_json:
                df = pd.DataFrame(df_json['result']['rows'])
                print(f"data fetched: {df.head()}")
                return df
            else:
                print('Failed to get results')
        else:
            print('Failed to create query run')
    except Exception as e:
        print(f"Error in fetching data: {e}")
        traceback.print_exc()

***Data Retrieval/Processing***

In [22]:
mint_df = flipside_api_results(mints)

In [23]:
mint_df

,day,tokenid,tx_hash,__row_index
0,2024-07-05T20:00:00.000Z,8.985197e+76,0x23a609ddf25089081798088ca8c5714be7b76d58ebf5...,0
1,2024-07-05T20:00:00.000Z,8.985197e+76,0x23a609ddf25089081798088ca8c5714be7b76d58ebf5...,1
2,2024-07-05T20:00:00.000Z,6.778101e+76,0xe8c87f0320802853e22ead69cef537c3fa80d5b9370c...,2
3,2024-07-05T20:00:00.000Z,6.778101e+76,0xe8c87f0320802853e22ead69cef537c3fa80d5b9370c...,3
4,2024-07-05T16:00:00.000Z,1.013928e+77,0x388ad6ef8ededcf3b310ddbf8c84ccaa2e835afd4b7a...,4
...,...,...,...,...
32667,2023-10-04T02:00:00.000Z,7.307980e+76,0x981dd9c93e0419a227128b7ee95c620e7dbc88fe92e8...,32667
32668,2023-10-04T02:00:00.000Z,9.704968e+76,0xd7ece008b97cad61f02396def394751c3fa9a4c2844a...,32668
32669,2023-10-04T02:00:00.000Z,9.704968e+76,0xd7ece008b97cad61f02396def394751c3fa9a4c2844a...,32669
32670,2023-10-04T02:00:00.000Z,7.787567e+76,0x64f70f46174e15001ff109ce325f9d0e0d7a571a22ed...,32670
32671,2023-10-04T02:00:00.000Z,7.787567e+76,0x64f70f46174e15001ff109ce325f9d0e0d7a571a22ed...,32671

In [24]:
sales_df = flipside_api_results(sales)

In [25]:
eth_usd_df = flipside_api_results(eth_price)

In [26]:
events_df = fetch_all_events(api_key= opensea_api_key)

Fetching listing: Page 1, Events Fetched: 50, Total Events: 50, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTI5KzIxJTNBMzQlM0ExNC45ODMyNTcmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjM4OTI3NTQ1NDM=
Fetching listing: Page 2, Events Fetched: 50, Total Events: 100, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTI0KzE4JTNBMTIlM0EwMi4xMDU5OTAmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjM3NTA4MjcxNDk=
Fetching listing: Page 3, Events Fetched: 50, Total Events: 150, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTIyKzE0JTNBNDklM0EwMC4yMTY2NTAmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjM2ODg4MzE0NjY=
Fetching listing: Page 4, Events Fetched: 50, Total Events: 200, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTIyKzAwJTNBMjclM0E1NC4yOTAwNjUmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjM2NzIzNDE0NTg=
Fetching listing: Page 5, Events Fetched: 50, Total Events: 250, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTE4KzA3JTNBMjklM0EzNS41MjcwNjEmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjM1NzUxMTQ5NjU=
Fetching listing: Page 6, Events Fetched: 50, Total Events: 300, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTEzKzEzJTNBMDIlM0EzNS42ODY4ODcmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjM0MzI1MTA4NTU=
Fetching listing: Page 7, Events Fetched: 50, Total Events: 350, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTExKzAyJTNBNDQlM0EzOS42NzU2MTImLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjMzNjA4ODg1NTk=
Fetching listing: Page 8, Events Fetched: 50, Total Events: 400, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTA3KzA0JTNBMjElM0E0OS4yNDQyNjMmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjMyNDA5MzUyMDk=
Fetching listing: Page 9, Events Fetched: 50, Total Events: 450, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA2LTAzKzA1JTNBMjElM0EzMi41ODEzMDYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjMxMTkwNDk3Njg=
Fetching listing: Page 10, Events Fetched: 50, Total Events: 500, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTI5KzEyJTNBMjclM0EwNC43MjM5NjkmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI5OTc1ODc1NDc=
Fetching listing: Page 11, Events Fetched: 50, Total Events: 550, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTI3KzEwJTNBMDAlM0ExNC4zNjg2MzUmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI5NDM1MDExMzc=
Fetching listing: Page 12, Events Fetched: 50, Total Events: 600, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTIzKzE3JTNBMDklM0E1NC43OTE1MzYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI4NDYxNTQzMjU=
Fetching listing: Page 13, Events Fetched: 50, Total Events: 650, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTIxKzIyJTNBNDIlM0EwMi44MDgwNjImLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI3OTkwMzQxMTI=
Fetching listing: Page 14, Events Fetched: 50, Total Events: 700, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTE3KzEzJTNBMTIlM0E1MS45MjE0MzcmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI2NzE0NDQwMzA=
Fetching listing: Page 15, Events Fetched: 50, Total Events: 750, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTE0KzIxJTNBMzUlM0EwMC40ODExMjYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI1OTkzMjQ2NDY=
Fetching listing: Page 16, Events Fetched: 50, Total Events: 800, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTEyKzEwJTNBMDElM0E0NC4xMzk2ODQmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI1MzAxODkzNzc=
Fetching listing: Page 17, Events Fetched: 50, Total Events: 850, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTExKzA0JTNBMjclM0ExNy42MTA0MjYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI0OTIzMjQ5MjY=
Fetching listing: Page 18, Events Fetched: 50, Total Events: 900, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTA5KzEwJTNBNTElM0EzMy45NTc2NDImLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjI0MzgzNTk4NzM=
Fetching listing: Page 19, Events Fetched: 50, Total Events: 950, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTA3KzE1JTNBMTclM0EyNi41NTk3NTcmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIzODMxMjQ0NzE=
Fetching listing: Page 20, Events Fetched: 50, Total Events: 1000, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTA2KzE3JTNBMzElM0EwOS41MzQxODkmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIzNTU2OTExNzg=
Fetching listing: Page 21, Events Fetched: 50, Total Events: 1050, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTA1KzE1JTNBMzElM0ExOC40ODE4MjImLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIzMjIzOTYxMzU=
Fetching listing: Page 22, Events Fetched: 50, Total Events: 1100, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTAzKzE1JTNBMjklM0EwNS40NjIwMjgmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIyNTgzNzQwNjE=
Fetching listing: Page 23, Events Fetched: 50, Total Events: 1150, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTAyKzEyJTNBNDQlM0ExOC42NjI4OTEmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIyMjU2MjE3ODM=
Fetching listing: Page 24, Events Fetched: 50, Total Events: 1200, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA1LTAxKzE3JTNBMjMlM0EwOS4yMjMzMDEmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIyMDIxOTQ3ODg=
Fetching listing: Page 25, Events Fetched: 50, Total Events: 1250, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTMwKzEzJTNBMzglM0EwNi42ODMwMzUmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIxNjY5NDIwMjk=
Fetching listing: Page 26, Events Fetched: 50, Total Events: 1300, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTI5KzA4JTNBMDMlM0EwOS42Mjk2NjImLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIxMzE3MjUwMTQ=
Fetching listing: Page 27, Events Fetched: 50, Total Events: 1350, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTI4KzEwJTNBMDQlM0ExNy43MjQ3MTImLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIxMDQ3OTUxNjQ=
Fetching listing: Page 28, Events Fetched: 50, Total Events: 1400, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTI4KzA3JTNBMTklM0ExNC4xMDIwMDQmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIxMDEyMzg0NjQ=
Fetching listing: Page 29, Events Fetched: 50, Total Events: 1450, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTI3KzIxJTNBNDklM0EzMC4wMzgyMzgmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIwODg5NzM3NTk=
Fetching listing: Page 30, Events Fetched: 50, Total Events: 1500, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTI2KzE1JTNBMjQlM0E0My45Mjg1ODQmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjIwNTE0NDQwNzg=
Fetching listing: Page 31, Events Fetched: 50, Total Events: 1550, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTI0KzA1JTNBNTIlM0E0Ny44NTIyNDgmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjE5ODU4ODEwMTQ=
Fetching listing: Page 32, Events Fetched: 50, Total Events: 1600, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTE2KzA3JTNBMjQlM0EwOC4wMDMxMDAmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjE3NTI1NTAzNjU=
Fetching listing: Page 33, Events Fetched: 50, Total Events: 1650, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTA3KzIwJTNBMzglM0E0MC4yOTY3ODUmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjE1MTc1MjQyMjU=
Fetching listing: Page 34, Events Fetched: 50, Total Events: 1700, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTA0LTAzKzAxJTNBMzElM0E0OC4zNTQ5NDQmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjEzODczMzQwNzk=
Fetching listing: Page 35, Events Fetched: 50, Total Events: 1750, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAzLTI0KzEwJTNBMDAlM0EzOS42Nzk0NTQmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjExNDE4NjE4MTY=
Fetching listing: Page 36, Events Fetched: 50, Total Events: 1800, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAzLTE2KzExJTNBNTElM0E0OS42NDI4NTAmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjA5NTg3NjM1MTI=
Fetching listing: Page 37, Events Fetched: 50, Total Events: 1850, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAzLTEwKzIwJTNBMTYlM0E0NC4yODUzMzYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjA4MzU4MTUzMzk=
Fetching listing: Page 38, Events Fetched: 50, Total Events: 1900, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAzLTA1KzE1JTNBMjglM0E0MS42MDM3MTgmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjA3MjEzOTIxODM=
Fetching listing: Page 39, Events Fetched: 50, Total Events: 1950, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTI4KzEyJTNBMzglM0E1Mi42NDI1NzkmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjA1NzQ5Nzg3ODY=
Fetching listing: Page 40, Events Fetched: 50, Total Events: 2000, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTI0KzE2JTNBMzUlM0EzOS41MTgzMDImLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjA0NzM2OTgwMzM=
Fetching listing: Page 41, Events Fetched: 50, Total Events: 2050, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTIyKzEwJTNBMzklM0E0MC4wMTA0OTAmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjA0MzAzMzQ4MTU=
Fetching listing: Page 42, Events Fetched: 50, Total Events: 2100, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTE3KzE1JTNBMzYlM0E0NC40OTE2OTYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjAyOTA5NzU0ODY=
Fetching listing: Page 43, Events Fetched: 50, Total Events: 2150, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTE0KzA4JTNBNDAlM0E1My44Njk3NzMmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjAxODExOTExNjg=
Fetching listing: Page 44, Events Fetched: 50, Total Events: 2200, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTEyKzA4JTNBMTAlM0EwMi4zNTEzNDEmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjAxMTQ1NTIyMjk=
Fetching listing: Page 45, Events Fetched: 50, Total Events: 2250, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTEwKzA1JTNBMTYlM0E1NC44MjAwMzEmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MjAwNDYwMTg5ODI=
Fetching listing: Page 46, Events Fetched: 50, Total Events: 2300, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTA4KzA4JTNBMjMlM0E0Ni44MDEyMzYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk5ODI1MDA3MDk=
Fetching listing: Page 47, Events Fetched: 50, Total Events: 2350, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTA3KzA0JTNBMDglM0E0Ni40OTkyNzkmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk5NDAwNzY4MTU=
Fetching listing: Page 48, Events Fetched: 50, Total Events: 2400, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTA2KzA5JTNBNTYlM0EyOC4yNjEzMTUmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk5MTI4NDE5OTU=
Fetching listing: Page 49, Events Fetched: 50, Total Events: 2450, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTA0KzEzJTNBNDQlM0E0Ny44MTI0MTkmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk4NDkzODUwOTY=
Fetching listing: Page 50, Events Fetched: 50, Total Events: 2500, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAyLTAxKzA2JTNBMTQlM0ExMi4zNzU2NTMmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk3MzY3MzgwOTA=
Fetching listing: Page 51, Events Fetched: 50, Total Events: 2550, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAxLTI5KzIxJTNBNTUlM0EzMS4yODI5ODQmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk2NTU0ODk3ODA=
Fetching listing: Page 52, Events Fetched: 50, Total Events: 2600, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAxLTI3KzAyJTNBMjAlM0EzOC40NjY4MTkmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk1NTAyNTQyMDg=
Fetching listing: Page 53, Events Fetched: 50, Total Events: 2650, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAxLTI1KzIyJTNBNTYlM0EwMS44MzczMDEmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk1MTA1OTIzMzQ=
Fetching listing: Page 54, Events Fetched: 50, Total Events: 2700, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAxLTI1KzA3JTNBMDElM0E0MS43MjgwNzYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk0ODcxNDY4MjE=
Fetching listing: Page 55, Events Fetched: 50, Total Events: 2750, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAxLTI0KzE4JTNBNDAlM0EzOS41MDM4MjAmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTk0Njg5MjcxMTc=
Fetching listing: Page 56, Events Fetched: 50, Total Events: 2800, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAxLTE5KzAwJTNBMjglM0E1Ny4zNjA2OTYmLWV2ZW50X3R5cGU9Y3JlYXRlZCYtcGs9MTkyNzI2MTg4NzE=
Fetching listing: Page 57, Events Fetched: 34, Total Events: 2834, next cursor:
Fetching sale: Page 1, Events Fetched: 50, Total Events: 2884, next cursor: LWV2ZW50X3RpbWVzdGFtcD0yMDI0LTAzLTE4KzA4JTNBMzQlM0EwNyYtZXZlbnRfdHlwZT1zdWNjZXNzZnVsJi1waz0yMDk5NjUyNzU1OQ==
Fetching sale: Page 2, Events Fetched: 38, Total Events: 2922, next cursor:
Total events fetched: 2922

In [27]:
descriptions_df = fetch_all_descriptions(api_key= opensea_api_key)

Page 1, Cursor: LXBrPTE4OTc4MTE2ODE= Descriptions Fetched: 100, total fetched: 100
Page 2, Cursor: LXBrPTE4ODczNDUxNjg= Descriptions Fetched: 100, total fetched: 200
Page 3, Cursor: LXBrPTE4NzgxNDU2MzE= Descriptions Fetched: 100, total fetched: 300
Page 4, Cursor: LXBrPTE4NjkzMDk1ODA= Descriptions Fetched: 100, total fetched: 400
Page 5, Cursor: LXBrPTE4NjIzMTEwNDg= Descriptions Fetched: 100, total fetched: 500
Page 6, Cursor: LXBrPTE4NTA5MDM1ODA= Descriptions Fetched: 100, total fetched: 600
Page 7, Cursor: LXBrPTE4NDA5MzA5NTQ= Descriptions Fetched: 100, total fetched: 700
Page 8, Cursor: LXBrPTE4MzcwMTczNzA= Descriptions Fetched: 100, total fetched: 800
Page 9, Cursor: LXBrPTE4MzQzODYyMDI= Descriptions Fetched: 100, total fetched: 900
Page 10, Cursor: LXBrPTE4MzA4MDQwNjA= Descriptions Fetched: 100, total fetched: 1000
Page 11, Cursor: LXBrPTE4Mjc3NTEwMDU= Descriptions Fetched: 100, total fetched: 1100
Page 12, Cursor: LXBrPTE4MjQ4NzY3ODA= Descriptions Fetched: 100, total fetched: 1200
Page 13, Cursor: LXBrPTE4MjIwMDA5NDM= Descriptions Fetched: 100, total fetched: 1300
Page 14, Cursor: LXBrPTE4MTk0MjYzMDY= Descriptions Fetched: 100, total fetched: 1400
Page 15, Cursor: LXBrPTE4MTgyMzgzODA= Descriptions Fetched: 100, total fetched: 1500
Page 16, Cursor: LXBrPTE4MTY5OTI3NDI= Descriptions Fetched: 100, total fetched: 1600
Page 17, Cursor: LXBrPTE4MTU3MzkwMDQ= Descriptions Fetched: 100, total fetched: 1700
Page 18, Cursor: LXBrPTE4MTUyNjE4Mzg= Descriptions Fetched: 100, total fetched: 1800
Page 19, Cursor: LXBrPTE4MTQyMDY4OTU= Descriptions Fetched: 100, total fetched: 1900
Page 20, Cursor: LXBrPTE4MTI0MTU5MjM= Descriptions Fetched: 100, total fetched: 2000
Page 21, Cursor: LXBrPTE4MTA3NjQxOTI= Descriptions Fetched: 100, total fetched: 2100
Page 22, Cursor: LXBrPTE4MTAxNDEyNjM= Descriptions Fetched: 100, total fetched: 2200
Page 23, Cursor: LXBrPTE4MDkyNDc1MjU= Descriptions Fetched: 100, total fetched: 2300
Page 24, Cursor: LXBrPTE4MDc5Mzc4NjI= Descriptions Fetched: 100, total fetched: 2400
Page 25, Cursor: LXBrPTE4MDcwNTM3MzA= Descriptions Fetched: 100, total fetched: 2500
Page 26, Cursor: LXBrPTE4MDU0NjcyNzA= Descriptions Fetched: 100, total fetched: 2600
Page 27, Cursor: LXBrPTE4MDQ1Nzc5OTA= Descriptions Fetched: 100, total fetched: 2700
Page 28, Cursor: LXBrPTE4MDM2NjMzOTE= Descriptions Fetched: 100, total fetched: 2800
Page 29, Cursor: LXBrPTE4MDIzMjY2NjM= Descriptions Fetched: 100, total fetched: 2900
Page 30, Cursor: LXBrPTE4MDE2Mjk5Njk= Descriptions Fetched: 100, total fetched: 3000
Page 31, Cursor: LXBrPTE4MDA5NDM0MzQ= Descriptions Fetched: 100, total fetched: 3100
Page 32, Cursor: LXBrPTE3OTk5ODIzOTI= Descriptions Fetched: 100, total fetched: 3200
Page 33, Cursor: LXBrPTE3OTkyMzQwMzM= Descriptions Fetched: 100, total fetched: 3300
Page 34, Cursor: LXBrPTE3OTkwMzk0Nzg= Descriptions Fetched: 100, total fetched: 3400
Page 35, Cursor: LXBrPTE3OTg0NDQ0ODA= Descriptions Fetched: 100, total fetched: 3500
Page 36, Cursor: LXBrPTE3OTc0OTU1NzI= Descriptions Fetched: 100, total fetched: 3600
Page 37, Cursor: LXBrPTE3OTczNTU4ODc= Descriptions Fetched: 100, total fetched: 3700
Page 38, Cursor: LXBrPTE3OTY5ODE3MTg= Descriptions Fetched: 100, total fetched: 3800
Page 39, Cursor: LXBrPTE3OTYxNTc3MDM= Descriptions Fetched: 100, total fetched: 3900
Page 40, Cursor: LXBrPTE3OTU4NjEzNDA= Descriptions Fetched: 100, total fetched: 4000
Page 41, Cursor: LXBrPTE3OTU1NjE4MTU= Descriptions Fetched: 100, total fetched: 4100
Page 42, Cursor: LXBrPTE3OTQwMjk5OTE= Descriptions Fetched: 100, total fetched: 4200
Page 43, Cursor: LXBrPTE3OTE5MDY2MTg= Descriptions Fetched: 100, total fetched: 4300
Page 44, Cursor: LXBrPTE3ODk5ODEwODg= Descriptions Fetched: 100, total fetched: 4400
Page 45, Cursor: LXBrPTE3ODg1NzUxMzY= Descriptions Fetched: 100, total fetched: 4500
Page 46, Cursor: LXBrPTE3ODYyMzM4NjI= Descriptions Fetched: 100, total fetched: 4600
Page 47, Cursor: LXBrPTE3ODMwNjQyNjU= Descriptions Fetched: 100, total fetched: 4700
Page 48, Cursor: LXBrPTE3ODE2NTAxNDU= Descriptions Fetched: 100, total fetched: 4800
Page 49, Cursor: LXBrPTE3Nzk1MDE4NjQ= Descriptions Fetched: 100, total fetched: 4900
Page 50, Cursor: LXBrPTE3NzgzNzI0MTM= Descriptions Fetched: 100, total fetched: 5000
Page 51, Cursor: LXBrPTE3NzcxMDUyODA= Descriptions Fetched: 100, total fetched: 5100
Page 52, Cursor: LXBrPTE3NzU5NTc2MzA= Descriptions Fetched: 100, total fetched: 5200
Page 53, Cursor: LXBrPTE3NzQ1MTk3Mzk= Descriptions Fetched: 100, total fetched: 5300
Page 54, Cursor: LXBrPTE3NzM1MjkwMTc= Descriptions Fetched: 100, total fetched: 5400
Page 55, Cursor: LXBrPTE3NzMzMTM5NTc= Descriptions Fetched: 100, total fetched: 5500
Page 56, Cursor: LXBrPTE3NzI5MTk1NDk= Descriptions Fetched: 100, total fetched: 5600
Page 57, Cursor: LXBrPTE3NzA0OTYwOTU= Descriptions Fetched: 100, total fetched: 5700
Page 58, Cursor: LXBrPTE3Njg2MTM1MDQ= Descriptions Fetched: 100, total fetched: 5800
Page 59, Cursor: LXBrPTE3NjYxMTQ3MDg= Descriptions Fetched: 100, total fetched: 5900
Page 60, Cursor: LXBrPTE3NjM4NjE3MTg= Descriptions Fetched: 100, total fetched: 6000
Page 61, Cursor: LXBrPTE3NjAxMzcyNjQ= Descriptions Fetched: 100, total fetched: 6100
Page 62, Cursor: LXBrPTE3NTUzMTY0MzA= Descriptions Fetched: 100, total fetched: 6200
Page 63, Cursor: LXBrPTE3NTIxNTE2Nzk= Descriptions Fetched: 100, total fetched: 6300
Page 64, Cursor: LXBrPTE3NDg5NTI5MDI= Descriptions Fetched: 100, total fetched: 6400
Page 65, Cursor: LXBrPTE3Mzc4NzMyMjA= Descriptions Fetched: 100, total fetched: 6500
Page 66, Cursor: LXBrPTE3MjY1MzMwNzk= Descriptions Fetched: 100, total fetched: 6600
Page 67, Cursor: LXBrPTE3MTk3MzQ1MzI= Descriptions Fetched: 100, total fetched: 6700
Page 68, Cursor: LXBrPTE3MTI5NTk0OTA= Descriptions Fetched: 100, total fetched: 6800
Page 69, Cursor: LXBrPTE3MDg3Njc4NjU= Descriptions Fetched: 100, total fetched: 6900
Page 70, Cursor: LXBrPTE3MDQ2MDM3NzU= Descriptions Fetched: 100, total fetched: 7000
Page 71, Cursor: LXBrPTE3MDA4NTcwMjU= Descriptions Fetched: 100, total fetched: 7100
Page 72, Cursor: LXBrPTE2OTcxMjcyNzc= Descriptions Fetched: 100, total fetched: 7200
Page 73, Cursor: LXBrPTE2OTQyNzEzNzE= Descriptions Fetched: 100, total fetched: 7300
Page 74, Cursor: LXBrPTE2OTE2MzM2Mzk= Descriptions Fetched: 100, total fetched: 7400
Page 75, Cursor: LXBrPTE2ODg4NjI2Njg= Descriptions Fetched: 100, total fetched: 7500
Page 76, Cursor: LXBrPTE2ODgwNzE2MTA= Descriptions Fetched: 100, total fetched: 7600
Page 77, Cursor: LXBrPTE2ODcxMjcxNDM= Descriptions Fetched: 100, total fetched: 7700
Page 78, Cursor: LXBrPTE2ODY0MzYyNDc= Descriptions Fetched: 100, total fetched: 7800
Page 79, Cursor: LXBrPTE2ODU5Mjk4MzI= Descriptions Fetched: 100, total fetched: 7900
Page 80, Cursor: LXBrPTE2ODQ5MjU1Mzc= Descriptions Fetched: 100, total fetched: 8000
Page 81, Cursor: LXBrPTE2ODQyNDk4MzQ= Descriptions Fetched: 100, total fetched: 8100
Page 82, Cursor: LXBrPTE2ODM3ODU5OTM= Descriptions Fetched: 100, total fetched: 8200
Page 83, Cursor: LXBrPTE2ODMyMjEzMjI= Descriptions Fetched: 100, total fetched: 8300
Page 84, Cursor: LXBrPTE2ODI4MDg1MDA= Descriptions Fetched: 100, total fetched: 8400
Page 85, Cursor: LXBrPTE2ODI0ODAwNTE= Descriptions Fetched: 100, total fetched: 8500
Page 86, Cursor: LXBrPTE2ODIwOTQzOTY= Descriptions Fetched: 100, total fetched: 8600
Page 87, Cursor: LXBrPTE2ODE0Mzg5NTQ= Descriptions Fetched: 100, total fetched: 8700
Page 88, Cursor: LXBrPTE2ODA2NDY4ODQ= Descriptions Fetched: 100, total fetched: 8800
Page 89, Cursor: LXBrPTE2ODAwMDI3NDE= Descriptions Fetched: 100, total fetched: 8900
Page 90, Cursor: LXBrPTE2NzkzNzgzNTM= Descriptions Fetched: 100, total fetched: 9000
Page 91, Cursor: LXBrPTE2Nzg2NzY5MjE= Descriptions Fetched: 100, total fetched: 9100
Page 92, Cursor: LXBrPTE2NzgyMTIyMDA= Descriptions Fetched: 100, total fetched: 9200
Page 93, Cursor: LXBrPTE2Nzc1OTk4NjA= Descriptions Fetched: 100, total fetched: 9300
Page 94, Cursor: LXBrPTE2NzY4ODMwMjc= Descriptions Fetched: 100, total fetched: 9400
Page 95, Cursor: LXBrPTE2NzYwNjY3MjI= Descriptions Fetched: 100, total fetched: 9500
Page 96, Cursor: LXBrPTE2NzU2MjEwNDg= Descriptions Fetched: 100, total fetched: 9600
Page 97, Cursor: LXBrPTE2NzQ4MDcwMDE= Descriptions Fetched: 100, total fetched: 9700
Page 98, Cursor: LXBrPTE2NzQxODM2MjE= Descriptions Fetched: 100, total fetched: 9800
Page 99, Cursor: LXBrPTE2NzM3MzcyMjM= Descriptions Fetched: 100, total fetched: 9900
Page 100, Cursor: LXBrPTE2NzMxMjc2Mjk= Descriptions Fetched: 100, total fetched: 10000
Page 101, Cursor: LXBrPTE2NzI3NDk2ODQ= Descriptions Fetched: 100, total fetched: 10100
Page 102, Cursor: LXBrPTE2NzEwOTYyNjM= Descriptions Fetched: 100, total fetched: 10200
Page 103, Cursor: LXBrPTE2NzA0NjA3ODY= Descriptions Fetched: 100, total fetched: 10300
Page 104, Cursor: LXBrPTE2NjkyODM0NjM= Descriptions Fetched: 100, total fetched: 10400
Page 105, Cursor: LXBrPTE2Njg2ODIzOTk= Descriptions Fetched: 100, total fetched: 10500
Page 106, Cursor: LXBrPTE2Njc5ODYzNTg= Descriptions Fetched: 100, total fetched: 10600
Page 107, Cursor: LXBrPTE2Njc0NzMzNzQ= Descriptions Fetched: 100, total fetched: 10700
Page 108, Cursor: LXBrPTE2NjcwNTMzMzA= Descriptions Fetched: 100, total fetched: 10800
Page 109, Cursor: LXBrPTE2NjYzMjk0MzM= Descriptions Fetched: 100, total fetched: 10900
Page 110, Cursor: LXBrPTE2NjU2NDg1MTU= Descriptions Fetched: 100, total fetched: 11000
Page 111, Cursor: LXBrPTE2NjQ5MjM3NTA= Descriptions Fetched: 100, total fetched: 11100
Page 112, Cursor: LXBrPTE2NjMyNzg1MzY= Descriptions Fetched: 100, total fetched: 11200
Page 113, Cursor: LXBrPTE2NjI2ODUxODI= Descriptions Fetched: 100, total fetched: 11300
Page 114, Cursor: LXBrPTE2NjIxMTU5MDg= Descriptions Fetched: 100, total fetched: 11400
Page 115, Cursor: LXBrPTE2NjE4MDU4MTc= Descriptions Fetched: 100, total fetched: 11500
Page 116, Cursor: LXBrPTE2NjE0NjMyNDA= Descriptions Fetched: 100, total fetched: 11600
Page 117, Cursor: LXBrPTE2NjEwNTI5NzI= Descriptions Fetched: 100, total fetched: 11700
Page 118, Cursor: LXBrPTE2NjA2NzcxNzc= Descriptions Fetched: 100, total fetched: 11800
Page 119, Cursor: LXBrPTE2NjAwNTEyNTY= Descriptions Fetched: 100, total fetched: 11900
Page 120, Cursor: LXBrPTE2NTk2MDAxOTA= Descriptions Fetched: 100, total fetched: 12000
Page 121, Cursor: LXBrPTE2NTkyODk4NjI= Descriptions Fetched: 100, total fetched: 12100
Page 122, Cursor: LXBrPTE2NTkxMTc2Mzg= Descriptions Fetched: 100, total fetched: 12200
Page 123, Cursor: LXBrPTE2NTg3MDk0NDU= Descriptions Fetched: 100, total fetched: 12300
Page 124, Cursor: LXBrPTE2NTgyMDkyODI= Descriptions Fetched: 100, total fetched: 12400
Page 125, Cursor: LXBrPTE2NTc5MDQ3MDQ= Descriptions Fetched: 100, total fetched: 12500
Page 126, Cursor: LXBrPTE2NTc3NTE3NDg= Descriptions Fetched: 100, total fetched: 12600
Page 127, Cursor: LXBrPTE2NTc0Mzc5MTM= Descriptions Fetched: 100, total fetched: 12700
Page 128, Cursor: LXBrPTE2NTcxNzc2MDg= Descriptions Fetched: 100, total fetched: 12800
Page 129, Cursor: LXBrPTE2NTcwMTcwNzA= Descriptions Fetched: 100, total fetched: 12900
Page 130, Cursor: LXBrPTE2NTY4MTU5MzA= Descriptions Fetched: 100, total fetched: 13000
Page 131, Cursor: LXBrPTE2NTY2NTYwODI= Descriptions Fetched: 100, total fetched: 13100
Page 132, Cursor: LXBrPTE2NTY0OTc3NDk= Descriptions Fetched: 100, total fetched: 13200
Page 133, Cursor: LXBrPTE2NTYxODEwMTE= Descriptions Fetched: 100, total fetched: 13300
Page 134, Cursor: LXBrPTE2NTUyODIwMzA= Descriptions Fetched: 100, total fetched: 13400
Page 135, Cursor: LXBrPTE2NTQ3OTIwNzQ= Descriptions Fetched: 100, total fetched: 13500
Page 136, Cursor: LXBrPTE2NTM5MDEwNDQ= Descriptions Fetched: 100, total fetched: 13600
Page 137, Cursor: LXBrPTE2NTMwNjUxMTg= Descriptions Fetched: 100, total fetched: 13700
Page 138, Cursor: LXBrPTE2NTIzMzI0Mjc= Descriptions Fetched: 100, total fetched: 13800
Page 139, Cursor: LXBrPTE2NTEzMDU0NDM= Descriptions Fetched: 100, total fetched: 13900
Page 140, Cursor: LXBrPTE2NDg5MTcwNTk= Descriptions Fetched: 100, total fetched: 14000
Page 141, Cursor: LXBrPTE2NDYyMDgzOTI= Descriptions Fetched: 100, total fetched: 14100
Page 142, Cursor: LXBrPTE2NDUzMzE4MDg= Descriptions Fetched: 100, total fetched: 14200
Page 143, Cursor: LXBrPTE2NDQ2NzAxMjU= Descriptions Fetched: 100, total fetched: 14300
Page 144, Cursor: LXBrPTE2NDQzMDYzMDg= Descriptions Fetched: 100, total fetched: 14400
Page 145, Cursor: LXBrPTE2NDM4ODk3NzE= Descriptions Fetched: 100, total fetched: 14500
Page 146, Cursor: LXBrPTE2NDM1NDcyMTA= Descriptions Fetched: 100, total fetched: 14600
Page 147, Cursor: LXBrPTE2NDM0Mzk0NDQ= Descriptions Fetched: 100, total fetched: 14700
Page 148, Cursor: LXBrPTE2NDM0MTkzMDE= Descriptions Fetched: 100, total fetched: 14800
Page 149, Cursor: LXBrPTE2NDMzNjk0ODY= Descriptions Fetched: 100, total fetched: 14900
Page 150, Cursor: LXBrPTE2NDMyNjAyMjA= Descriptions Fetched: 100, total fetched: 15000
Page 151, Cursor: LXBrPTE2NDMxMTA0OTg= Descriptions Fetched: 100, total fetched: 15100
Page 152, Cursor: LXBrPTE2NDI3MTAxMTY= Descriptions Fetched: 100, total fetched: 15200
Page 153, Cursor: LXBrPTE2NDI0OTQxMjQ= Descriptions Fetched: 100, total fetched: 15300
Page 154, Cursor: LXBrPTE2NDIzMzY5OTk= Descriptions Fetched: 100, total fetched: 15400
Page 155, Cursor: LXBrPTE2NDE4NzYzMjA= Descriptions Fetched: 100, total fetched: 15500
Page 156, Cursor: LXBrPTE2NDAwOTc2MjU= Descriptions Fetched: 100, total fetched: 15600
Page 157, Cursor: LXBrPTE2Mzc3NjgyOTA= Descriptions Fetched: 100, total fetched: 15700
Page 158, Cursor: LXBrPTE2MTYyMDgyMjk= Descriptions Fetched: 100, total fetched: 15800
Page 159, Cursor: LXBrPTE2MDI5NjI5ODg= Descriptions Fetched: 100, total fetched: 15900
Page 160, Cursor: LXBrPTE2MDI5NjI3OTA= Descriptions Fetched: 100, total fetched: 16000
Page 161, Cursor: LXBrPTE2MDI5NjI1OTQ= Descriptions Fetched: 100, total fetched: 16100
Page 162, Cursor: LXBrPTE1ODYyODYzNzg= Descriptions Fetched: 100, total fetched: 16200
Page 163, Cursor: LXBrPTE1MzAyODU0MTI= Descriptions Fetched: 100, total fetched: 16300
Page 164, Cursor: None Descriptions Fetched: 35, total fetched: 16335
Total pages fetched: 164, Total descriptions fetched: 16335

In [28]:
listings_df = fetch_listings(api_key= opensea_api_key, delay_between_requests=1)

Page 1, Cursor: cGs9MTc0ODI3MTAyMDYmY3JlYXRlZF9kYXRlPTIwMjQtMDMtMDYrMDMlM0E1MiUzQTMyLjU4ODA4Nw==, Listings Fetched: 100
Page 2, Cursor: cGs9MTg2NDAxMDQxODMmY3JlYXRlZF9kYXRlPTIwMjQtMDQtMjgrMDklM0E1MiUzQTAxLjAwNzE2MQ==, Listings Fetched: 100
Page 3, Cursor: cGs9MTg3OTI1MTI0NjEmY3JlYXRlZF9kYXRlPTIwMjQtMDUtMDQrMTUlM0E1NyUzQTA4LjEzMjQ4Nw==, Listings Fetched: 100
Page 4, Cursor: cGs9MTkzMDU3ODA5MzAmY3JlYXRlZF9kYXRlPTIwMjQtMDUtMjUrMjMlM0E0MCUzQTU2LjI4MzYzNA==, Listings Fetched: 100
Page 5, Cursor: cGs9MTk3MjA5NDcxMDgmY3JlYXRlZF9kYXRlPTIwMjQtMDYtMTMrMDYlM0E1OSUzQTE4LjE4NjQ0MQ==, Listings Fetched: 100
Page 6, Cursor: cGs9MTk5MzMwODgxNTImY3JlYXRlZF9kYXRlPTIwMjQtMDYtMjIrMTUlM0EwNSUzQTA4LjIzMDk0OA==, Listings Fetched: 100
Page 7, Cursor: cGs9MjAyMTc2ODEyNzUmY3JlYXRlZF9kYXRlPTIwMjQtMDctMDQrMTUlM0E0MiUzQTMwLjM1NzA1Nw==, Listings Fetched: 100
Page 8, Cursor: None, Listings Fetched: 4
Total pages fetched: 8
Total listings fetched: 704

In [29]:
def unpack_protocol_data(row):
    protocol_data = row['protocol_data']
    parameters = protocol_data.get('parameters', {})
    consideration = parameters.get('consideration', [{}])
    offer = parameters.get('offer', [{}])
    price = row['price']['current']
    
    chain = row['chain']
    order_hash = row['order_hash']
    currency = price.get('currency')
    price_string = price.get('value')
    price_in_eth = float(price_string) / (10 ** price.get('decimals', 18))
    primary_recipient = consideration[0].get('recipient') if consideration else None
    identifier_or_criteria = offer[0].get('identifierOrCriteria') if offer else None
    start_time = parameters.get('startTime')
    end_time = parameters.get('endTime')
    
    return pd.Series([
        chain, order_hash, currency, price_string, price_in_eth, 
        primary_recipient, identifier_or_criteria, start_time, end_time
    ])

In [30]:
unpacked_columns = listings_df.apply(unpack_protocol_data, axis=1)
unpacked_columns.columns = [
    'chain', 'order_hash', 'currency', 'price_string', 'price_in_eth', 
    'primary_recipient', 'identifier_or_criteria', 'start_time', 'end_time'
]
listings_df = pd.concat([listings_df, unpacked_columns], axis=1)
listings_df = listings_df.drop(columns=['protocol_data'])

In [31]:
listings_df['identifier_or_criteria'] = listings_df['identifier_or_criteria'].astype(float)
listings_df.rename(columns={'identifier_or_criteria':'tokenid'}, inplace=True)

In [32]:
descriptions_df.rename(columns={'identifier':'tokenid'}, inplace=True)

In [33]:
descriptions_df['tokenid'] = descriptions_df['tokenid'].astype(float)

In [34]:
mint_df['tokenid'] = mint_df['tokenid'].astype(float)

In [35]:
mints_with_names = pd.merge(mint_df, descriptions_df, how='left', on='tokenid')

In [36]:
mints_with_names

,day,tokenid,tx_hash,__row_index,name
0,2024-07-05T20:00:00.000Z,8.985197e+76,0x23a609ddf25089081798088ca8c5714be7b76d58ebf5...,0,cryptocreator.tech
1,2024-07-05T20:00:00.000Z,8.985197e+76,0x23a609ddf25089081798088ca8c5714be7b76d58ebf5...,1,cryptocreator.tech
2,2024-07-05T20:00:00.000Z,6.778101e+76,0xe8c87f0320802853e22ead69cef537c3fa80d5b9370c...,2,kawaii.box
3,2024-07-05T20:00:00.000Z,6.778101e+76,0xe8c87f0320802853e22ead69cef537c3fa80d5b9370c...,3,kawaii.box
4,2024-07-05T16:00:00.000Z,1.013928e+77,0x388ad6ef8ededcf3b310ddbf8c84ccaa2e835afd4b7a...,4,seismic.box
...,...,...,...,...,...
32667,2023-10-04T02:00:00.000Z,7.307980e+76,0x981dd9c93e0419a227128b7ee95c620e7dbc88fe92e8...,32667,org
32668,2023-10-04T02:00:00.000Z,9.704968e+76,0xd7ece008b97cad61f02396def394751c3fa9a4c2844a...,32668,net
32669,2023-10-04T02:00:00.000Z,9.704968e+76,0xd7ece008b97cad61f02396def394751c3fa9a4c2844a...,32669,net
32670,2023-10-04T02:00:00.000Z,7.787567e+76,0x64f70f46174e15001ff109ce325f9d0e0d7a571a22ed...,32670,com
32671,2023-10-04T02:00:00.000Z,7.787567e+76,0x64f70f46174e15001ff109ce325f9d0e0d7a571a22ed...,32671,com

In [37]:
mints_with_names_null = mints_with_names[mints_with_names.isnull().any(axis=1)]
print(list(mints_with_names_null['tx_hash']))

['0xb47db1490ab537cbbd227388a32567952c2bf27d5e55864a9415110f2af63ca7', '0xb47db1490ab537cbbd227388a32567952c2bf27d5e55864a9415110f2af63ca7', '0x62f6283e6459d7e2a19c818e515927d159daa57d08ff5b55c79141b7f28b94a3', '0x62f6283e6459d7e2a19c818e515927d159daa57d08ff5b55c79141b7f28b94a3', '0x1f172942f03578e445dfe20e5104a799c87a88a108d4cf095d96c8e841dc8a99', '0x1f172942f03578e445dfe20e5104a799c87a88a108d4cf095d96c8e841dc8a99']

In [38]:
mints_with_names.drop_duplicates('tokenid', inplace=True)

In [39]:
mints_with_names.drop(columns=['__row_index','tx_hash','tokenid'], inplace=True)

In [40]:
mints_with_names.set_index('day', inplace=True)

In [41]:
mints_with_names.index = pd.to_datetime(mints_with_names.index)
mints_with_names.dropna(inplace=True)

In [42]:
box_domains_mints = mints_with_names[mints_with_names['name'].str.endswith('.box')]

In [43]:
box_domains_mints

                                       name
day
2024-07-05 20:00:00+00:00        kawaii.box
2024-07-05 16:00:00+00:00       seismic.box
2024-07-05 16:00:00+00:00      location.box
2024-07-05 15:00:00+00:00      sprinter.box
2024-07-05 15:00:00+00:00   certificate.box
...                                     ...
2023-10-31 17:00:00+00:00        duncan.box
2023-10-26 14:00:00+00:00  intercap-dev.box
2023-10-24 19:00:00+00:00             s.box
2023-10-24 18:00:00+00:00          josh.box
2023-10-04 03:00:00+00:00          3dns.box

[3599 rows x 1 columns]

In [44]:
daily_box_mints = box_domains_mints.resample('D').count()

In [106]:
daily_box_mints.rename(columns={'name':'mints'}, inplace=True)
daily_box_mints_fig = px.bar(daily_box_mints, x=daily_box_mints.index, y='mints', title='Daily Mints')
daily_box_mints_fig.show()

In [46]:
total_box_mints = box_domains_mints.count().iloc[0]
total_box_mints

3599

In [47]:
sales_with_names = pd.merge(sales_df, descriptions_df, how='left', on='tokenid')

In [48]:
sales_with_names.drop_duplicates('tokenid', inplace=True)
sales_with_names.drop(columns=['__row_index','tx_hash','tokenid'], inplace=True)
sales_with_names.set_index('day', inplace=True)
sales_with_names.index = pd.to_datetime(sales_with_names.index)

In [56]:
box_domains_sales = sales_with_names[sales_with_names['name'].str.endswith('.box')]

In [52]:
eth_usd_df.set_index('day', inplace=True)
eth_usd_df.index = pd.to_datetime(eth_usd_df.index)
eth_usd_df.drop(columns=['__row_index'], inplace=True)

In [55]:
eth_usd_df.rename(columns={'price':'eth_usd'}, inplace=True)

In [57]:
box_domains_sales = box_domains_sales.merge(eth_usd_df, left_index=True, right_index=True, how='left')

In [59]:
box_domains_sales['price_usd'] = box_domains_sales['price'] * box_domains_sales['eth_usd']
box_domains_sales.rename(columns={'price':'price_eth'}, inplace=True)

In [61]:
box_domains_sales.drop(columns=['eth_usd'], inplace=True)

                           price_eth         name     price_usd
day
2024-04-17 18:00:00+00:00     0.0100   mewtwo.box     29.610981
2024-04-24 04:00:00+00:00     0.0290     0000.box     93.923366
2024-04-25 21:00:00+00:00     0.1000  express.box    317.327581
2024-04-27 16:00:00+00:00    10.0000       vm.box  31481.468013
2024-04-27 00:00:00+00:00     0.3675     jane.box   1151.714038
2024-04-28 07:00:00+00:00     0.0950     good.box    314.608157
2024-04-28 01:00:00+00:00     0.0690      man.box    224.604619
2024-05-07 22:00:00+00:00     0.0550     onyx.box    167.833449
2024-02-03 22:00:00+00:00     0.0144      696.box     33.088886
2024-02-05 04:00:00+00:00     0.0200     song.box     45.601150
2024-02-10 19:00:00+00:00     0.0390       to.box     96.974190
2024-02-20 12:00:00+00:00     0.0700      uae.box    203.189586
2024-02-22 04:00:00+00:00     0.0400       08.box    116.739602
2024-02-24 04:00:00+00:00     0.0700      404.box    203.681142
2024-02-25 07:00:00+00:00     0.1000       38.box    301.731691
2024-02-25 02:00:00+00:00     0.0400      010.box    119.084361
2024-02-25 03:00:00+00:00     0.0450       ap.box    134.586008
2024-02-25 03:00:00+00:00     0.0700       40.box    209.356013
2024-02-25 03:00:00+00:00     0.0900       70.box    269.172017
2024-02-25 03:00:00+00:00     0.0350      015.box    104.678007
2024-02-25 03:00:00+00:00     0.0900       75.box    269.172017

In [113]:
box_domains_sales.sort_index(inplace=True)
box_domains_mints.sort_index(inplace=True)

C:\Users\brandyns pc\AppData\Local\Temp\ipykernel_12140\3245620862.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [81]:
box_domains_sales = box_domains_sales[['name', 'price_usd','price_eth']]

In [158]:
box_domains_sales

                                  name     price_usd  price_eth
day
2024-02-03 22:00:00+00:00      696.box     33.088886     0.0144
2024-02-05 04:00:00+00:00     song.box     45.601150     0.0200
2024-02-10 19:00:00+00:00       to.box     96.974190     0.0390
2024-02-20 12:00:00+00:00      uae.box    203.189586     0.0700
2024-02-22 04:00:00+00:00       08.box    116.739602     0.0400
2024-02-24 04:00:00+00:00      404.box    203.681142     0.0700
2024-02-25 02:00:00+00:00      010.box    119.084361     0.0400
2024-02-25 03:00:00+00:00       70.box    269.172017     0.0900
2024-02-25 03:00:00+00:00       40.box    209.356013     0.0700
2024-02-25 03:00:00+00:00       ap.box    134.586008     0.0450
2024-02-25 03:00:00+00:00       75.box    269.172017     0.0900
2024-02-25 03:00:00+00:00      015.box    104.678007     0.0350
2024-02-25 07:00:00+00:00       38.box    301.731691     0.1000
2024-04-17 18:00:00+00:00   mewtwo.box     29.610981     0.0100
2024-04-24 04:00:00+00:00     0000.box     93.923366     0.0290
2024-04-25 21:00:00+00:00  express.box    317.327581     0.1000
2024-04-27 00:00:00+00:00     jane.box   1151.714038     0.3675
2024-04-27 16:00:00+00:00       vm.box  31481.468013    10.0000
2024-04-28 01:00:00+00:00      man.box    224.604619     0.0690
2024-04-28 07:00:00+00:00     good.box    314.608157     0.0950
2024-05-07 22:00:00+00:00     onyx.box    167.833449     0.0550

In [82]:
max_eth_sale = box_domains_sales['price_eth'].max()
max_usd_sale = box_domains_sales['price_usd'].max()

# Retrieve the corresponding timestamps
max_eth_sale_row = box_domains_sales.loc[box_domains_sales['price_eth'].idxmax()]
max_usd_sale_row = box_domains_sales.loc[box_domains_sales['price_usd'].idxmax()]

# Display the results
print(f"Maximum sale: \n {max_eth_sale_row}")

Maximum sale:
 name               vm.box
price_usd    31481.468013
price_eth            10.0
Name: 2024-04-27 16:00:00+00:00, dtype: object

In [93]:
total_box_sales = box_domains_sales['name'].count()
print(f'total .box domain sales as of {dt.datetime.today()} : {total_box_sales}')

total .box domain sales as of 2024-07-05 19:24:07.355727 : 21

In [96]:
daily_box_sales = box_domains_sales['name'].resample('D').count()
daily_box_sales

day
2024-02-03 00:00:00+00:00    1
2024-02-04 00:00:00+00:00    0
2024-02-05 00:00:00+00:00    1
2024-02-06 00:00:00+00:00    0
2024-02-07 00:00:00+00:00    0
                            ..
2024-05-03 00:00:00+00:00    0
2024-05-04 00:00:00+00:00    0
2024-05-05 00:00:00+00:00    0
2024-05-06 00:00:00+00:00    0
2024-05-07 00:00:00+00:00    1
Freq: D, Name: name, Length: 95, dtype: int64

In [107]:
daily_box_sales_fig = px.bar(daily_box_sales.to_frame('sales'), x=daily_box_sales.index, y='sales', title='Daily Sales')
daily_box_sales_fig.show()

In [111]:
latest_box_domains_sales = box_domains_sales.iloc[-10:] 
latest_box_domains_sales

                                  name     price_usd  price_eth
day
2024-02-25 03:00:00+00:00      015.box    104.678007     0.0350
2024-02-25 07:00:00+00:00       38.box    301.731691     0.1000
2024-04-17 18:00:00+00:00   mewtwo.box     29.610981     0.0100
2024-04-24 04:00:00+00:00     0000.box     93.923366     0.0290
2024-04-25 21:00:00+00:00  express.box    317.327581     0.1000
2024-04-27 00:00:00+00:00     jane.box   1151.714038     0.3675
2024-04-27 16:00:00+00:00       vm.box  31481.468013    10.0000
2024-04-28 01:00:00+00:00      man.box    224.604619     0.0690
2024-04-28 07:00:00+00:00     good.box    314.608157     0.0950
2024-05-07 22:00:00+00:00     onyx.box    167.833449     0.0550

In [114]:
latets_box_domains_mints = box_domains_mints.iloc[-10:]
latets_box_domains_mints

                                      name
day
2024-07-03 21:00:00+00:00    dogematic.box
2024-07-04 00:00:00+00:00     engineer.box
2024-07-04 01:00:00+00:00     loudpunx.box
2024-07-04 08:00:00+00:00       trader.box
2024-07-04 18:00:00+00:00         fork.box
2024-07-05 15:00:00+00:00  certificate.box
2024-07-05 15:00:00+00:00     sprinter.box
2024-07-05 16:00:00+00:00     location.box
2024-07-05 16:00:00+00:00      seismic.box
2024-07-05 20:00:00+00:00       kawaii.box

In [117]:
cumulative_box_sales = daily_box_sales.cumsum()
cumulative_box_sales

day
2024-02-03 00:00:00+00:00     1
2024-02-04 00:00:00+00:00     1
2024-02-05 00:00:00+00:00     2
2024-02-06 00:00:00+00:00     2
2024-02-07 00:00:00+00:00     2
                             ..
2024-05-03 00:00:00+00:00    20
2024-05-04 00:00:00+00:00    20
2024-05-05 00:00:00+00:00    20
2024-05-06 00:00:00+00:00    20
2024-05-07 00:00:00+00:00    21
Freq: D, Name: name, Length: 95, dtype: int64

In [118]:
monthly_max_sold = box_domains_sales['price_usd'].resample('M').max()
monthly_min_sold = box_domains_sales['price_usd'].resample('M').min()
monthly_avg_sold = box_domains_sales['price_usd'].resample('M').mean()

C:\Users\brandyns pc\AppData\Local\Temp\ipykernel_12140\3189873595.py:1: FutureWarning:

'M' is deprecated and will be removed in a future version, please use 'ME' instead.

C:\Users\brandyns pc\AppData\Local\Temp\ipykernel_12140\3189873595.py:2: FutureWarning:

'M' is deprecated and will be removed in a future version, please use 'ME' instead.

C:\Users\brandyns pc\AppData\Local\Temp\ipykernel_12140\3189873595.py:3: FutureWarning:

'M' is deprecated and will be removed in a future version, please use 'ME' instead.

In [137]:
monthly_max_sold.fillna(0, inplace=True)
monthly_min_sold.fillna(0, inplace=True)
monthly_avg_sold.fillna(0, inplace=True)

In [134]:
monthly_box_sales_metrics = pd.merge(monthly_max_sold.to_frame('max_price'), monthly_min_sold.to_frame('min_price'), left_index=True, right_index=True, how='inner')

In [136]:
monthly_box_sales_metrics.merge(monthly_avg_sold.to_frame('avg_price'), left_index=True, right_index=True, how='inner')

                              max_price   min_price    avg_price
day
2024-02-29 00:00:00+00:00    301.731691   33.088886   162.081129
2024-03-31 00:00:00+00:00      0.000000    0.000000     0.000000
2024-04-30 00:00:00+00:00  31481.468013   29.610981  4801.893822
2024-05-31 00:00:00+00:00    167.833449  167.833449   167.833449

In [139]:
daily_sales_metrics = pd.merge(cumulative_box_sales.to_frame('cumulative_sales'), daily_box_sales.to_frame('daily_sales'), 
                               left_index=True, right_index=True, how='left')

In [140]:
daily_sales_metrics

                           cumulative_sales  daily_sales
day
2024-02-03 00:00:00+00:00                 1            1
2024-02-04 00:00:00+00:00                 1            0
2024-02-05 00:00:00+00:00                 2            1
2024-02-06 00:00:00+00:00                 2            0
2024-02-07 00:00:00+00:00                 2            0
...                                     ...          ...
2024-05-03 00:00:00+00:00                20            0
2024-05-04 00:00:00+00:00                20            0
2024-05-05 00:00:00+00:00                20            0
2024-05-06 00:00:00+00:00                20            0
2024-05-07 00:00:00+00:00                21            1

[95 rows x 2 columns]

***Box Domains Valuation Model***

**Data Processing**

In [154]:
domain_path = 'E:/Projects/box_app/data/domain-name-sales.tsv'  
domain_data = pd.read_csv(domain_path, delimiter='\t')

In [156]:
domain_data.set_index('date', inplace=True)
domain_data = domain_data.drop(columns=['venue'])
domain_data.sort_index(inplace=True)

In [161]:
domain_data.index = pd.to_datetime(domain_data.index)
domain_data

                          domain    price
date
1999-04-01         altavista.com  3250000
1999-04-01             bingo.com  1100000
1999-11-01               fly.com  1500000
1999-12-01             autos.com  2200000
1999-12-01           england.com  2000000
...                          ...      ...
2021-01-01             yes.movie      253
2021-01-01             yopal.com      405
2021-01-01          yougraph.com     1161
2021-01-01            zenvie.com      349
2021-01-01  ziggieslivemusic.com      105

[348236 rows x 2 columns]

In [180]:
domain_data['domain_length'] = domain_data['domain'].apply(len)
domain_data['num_vowels'] = domain_data['domain'].apply(lambda x: sum([1 for char in x if char in 'aeiou']))
domain_data['num_consonants'] = domain_data['domain'].apply(lambda x: sum([1 for char in x if char.isalpha() and char not in 'aeiou']))
domain_data['tld'] = domain_data['domain'].apply(lambda x: x.split('.')[-1])  # Extract TLD

In [181]:
domain_data

,domain,price,domain_length,num_vowels,num_consonants,tld
date,,,,,,
1999-04-01,altavista.com,3250000,13,5,7,com
1999-04-01,bingo.com,1100000,9,3,5,com
1999-11-01,fly.com,1500000,7,1,5,com
1999-12-01,autos.com,2200000,9,4,4,com
1999-12-01,england.com,2000000,11,3,7,com
...,...,...,...,...,...,...
2021-01-01,yes.movie,253,9,4,4,movie
2021-01-01,yopal.com,405,9,3,5,com
2021-01-01,yougraph.com,1161,12,4,7,com
2021-01-01,zenvie.com,349,10,4,5,com
2021-01-01,ziggieslivemusic.com,105,20,8,11,com

In [160]:
box_domains_sales.columns

Index(['name', 'price_usd', 'price_eth'], dtype='object')

In [162]:
filtered_box = box_domains_sales.drop(columns=['price_eth'])
filtered_box.rename(columns={'name':'domain', 'price_usd':'price'}, inplace=True)

In [182]:
filtered_box['domain_length'] = filtered_box['domain'].apply(len)
filtered_box['num_vowels'] = filtered_box['domain'].apply(lambda x: sum([1 for char in x if char in 'aeiou']))
filtered_box['num_consonants'] = filtered_box['domain'].apply(lambda x: sum([1 for char in x if char.isalpha() and char not in 'aeiou']))
filtered_box['tld'] = filtered_box['domain'].apply(lambda x: x.split('.')[-1])  # Extract TLD

In [165]:
filtered_box.index = filtered_box.index.strftime('%Y-%m-%d')

AttributeError: 'Index' object has no attribute 'strftime'

In [189]:
filtered_box

,domain,price,domain_length,num_vowels,num_consonants,tld
day,,,,,,
2024-02-03,696.box,33.088886,7,1,2,box
2024-02-05,song.box,45.601150,8,2,5,box
2024-02-10,to.box,96.974190,6,2,3,box
2024-02-20,uae.box,203.189586,7,4,2,box
2024-02-22,08.box,116.739602,6,1,2,box
2024-02-24,404.box,203.681142,7,1,2,box
2024-02-25,010.box,119.084361,7,1,2,box
2024-02-25,70.box,269.172017,6,1,2,box
2024-02-25,40.box,209.356013,6,1,2,box
2024-02-25,ap.box,134.586008,6,2,3,box
2024-02-25,75.box,269.172017,6,1,2,box
2024-02-25,015.box,104.678007,7,1,2,box
2024-02-25,38.box,301.731691,6,1,2,box
2024-04-17,mewtwo.box,29.610981,10,3,6,box
2024-04-24,0000.box,93.923366,8,1,2,box
2024-04-25,express.box,317.327581,11,3,7,box
2024-04-27,jane.box,1151.714038,8,3,4,box
2024-04-27,vm.box,31481.468013,6,1,4,box
2024-04-28,man.box,224.604619,7,2,4,box
2024-04-28,good.box,314.608157,8,3,4,box
2024-05-07,onyx.box,167.833449,8,2,5,box

In [186]:
features = ['domain_length', 'num_vowels', 'num_consonants', 'tld']
X = domain_data[features]
y = domain_data['price']

In [196]:
# Preprocess categorical data (TLD) and handle missing values
preprocessor = ColumnTransformer(
    transformers=[
        ('num', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='median')),
            ('scaler', StandardScaler())
        ]), ['domain_length', 'num_vowels', 'num_consonants']),
        ('cat', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='most_frequent')),
            ('onehot', OneHotEncoder(handle_unknown='ignore'))
        ]), ['tld'])
    ]
)

# Create a pipeline with Ridge regression
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', Ridge())
])

# Define the parameter grid for hyperparameter tuning
param_grid = {
    'regressor__alpha': [0.1, 1.0, 10.0, 100.0, 1000.0]
}

In [197]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

**Ridge Regression**

In [198]:
grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='r2')
grid_search.fit(X_train, y_train)

# Best model from grid search
best_model = grid_search.best_estimator_

# Predict and evaluate
y_pred = best_model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Best Alpha: {grid_search.best_params_["regressor__alpha"]}')
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RÂ²: {r2}')

Best Alpha: 1000.0
MAE: 2705.0255351946857
MSE: 2852191402.3463864
RÂ²: 0.0003925999206353392

**Random Forest Regressor**

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(n_estimators=200, max_depth=20, min_samples_split=5, random_state=42))
])

# Fit the model
pipeline.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipeline.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RÂ²: {r2}')

**XGBoost**

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', XGBRegressor(n_estimators=200, max_depth=5, learning_rate=0.1, random_state=42))
])

# Fit the model
pipeline.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipeline.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RÂ²: {r2}')

**LightGBM**

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LGBMRegressor(n_estimators=200, max_depth=5, learning_rate=0.1, random_state=42))
])

# Fit the model
pipeline.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipeline.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RÂ²: {r2}')

**Cat Boost**

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', CatBoostRegressor(iterations=200, depth=5, learning_rate=0.1, random_state=42, verbose=0))
])

# Fit the model
pipeline.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipeline.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RÂ²: {r2}')

**Best Model**

In [205]:
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', Ridge(alpha=1000.0))  # Set the best alpha value from grid search
])

In [206]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RÂ²: {r2}')

MAE: 2705.0255351946857
MSE: 2852191402.3463864
RÂ²: 0.0003925999206353392

In [209]:
filtered_box

,domain,price,domain_length,num_vowels,num_consonants,tld,predicted_price
day,,,,,,,
2024-02-03,696.box,33.088886,7,1,2,box,1168.932145
2024-02-05,song.box,45.601150,8,2,5,box,2173.632242
2024-02-10,to.box,96.974190,6,2,3,box,3066.390943
2024-02-20,uae.box,203.189586,7,4,2,box,3180.120862
2024-02-22,08.box,116.739602,6,1,2,box,2005.653100
2024-02-24,404.box,203.681142,7,1,2,box,1168.932145
2024-02-25,010.box,119.084361,7,1,2,box,1168.932145
2024-02-25,70.box,269.172017,6,1,2,box,2005.653100
2024-02-25,40.box,209.356013,6,1,2,box,2005.653100
2024-02-25,ap.box,134.586008,6,2,3,box,3066.390943
2024-02-25,75.box,269.172017,6,1,2,box,2005.653100
2024-02-25,015.box,104.678007,7,1,2,box,1168.932145
2024-02-25,38.box,301.731691,6,1,2,box,2005.653100
2024-04-17,mewtwo.box,29.610981,10,3,6,box,1560.928176
2024-04-24,0000.box,93.923366,8,1,2,box,332.211191
2024-04-25,express.box,317.327581,11,3,7,box,1114.548825
2024-04-27,jane.box,1151.714038,8,3,4,box,2453.686877
2024-04-27,vm.box,31481.468013,6,1,4,box,2786.336308
2024-04-28,man.box,224.604619,7,2,4,box,2620.011592
2024-04-28,good.box,314.608157,8,3,4,box,2453.686877
2024-05-07,onyx.box,167.833449,8,2,5,box,2173.632242

In [208]:
box_X = filtered_box[features]

# Predict prices for .box domains using the best model
filtered_box['predicted_price'] = pipeline.predict(box_X)

print(filtered_box[['domain', 'predicted_price']])

                 domain  predicted_price
day
2024-02-03      696.box      1168.932145
2024-02-05     song.box      2173.632242
2024-02-10       to.box      3066.390943
2024-02-20      uae.box      3180.120862
2024-02-22       08.box      2005.653100
2024-02-24      404.box      1168.932145
2024-02-25      010.box      1168.932145
2024-02-25       70.box      2005.653100
2024-02-25       40.box      2005.653100
2024-02-25       ap.box      3066.390943
2024-02-25       75.box      2005.653100
2024-02-25      015.box      1168.932145
2024-02-25       38.box      2005.653100
2024-04-17   mewtwo.box      1560.928176
2024-04-24     0000.box       332.211191
2024-04-25  express.box      1114.548825
2024-04-27     jane.box      2453.686877
2024-04-27       vm.box      2786.336308
2024-04-28      man.box      2620.011592
2024-04-28     good.box      2453.686877
2024-05-07     onyx.box      2173.632242

In [210]:
r2 = r2_score(filtered_box['price'], filtered_box['predicted_price'])
print(f'r2 {r2}')

r2 0.0411345241547072

**.Box Domain Valuator**

In [211]:
filtered_box_2 = filtered_box.drop(columns=['predicted_price'])
filtered_box_2

,domain,price,domain_length,num_vowels,num_consonants,tld
day,,,,,,
2024-02-03,696.box,33.088886,7,1,2,box
2024-02-05,song.box,45.601150,8,2,5,box
2024-02-10,to.box,96.974190,6,2,3,box
2024-02-20,uae.box,203.189586,7,4,2,box
2024-02-22,08.box,116.739602,6,1,2,box
2024-02-24,404.box,203.681142,7,1,2,box
2024-02-25,010.box,119.084361,7,1,2,box
2024-02-25,70.box,269.172017,6,1,2,box
2024-02-25,40.box,209.356013,6,1,2,box
2024-02-25,ap.box,134.586008,6,2,3,box
2024-02-25,75.box,269.172017,6,1,2,box
2024-02-25,015.box,104.678007,7,1,2,box
2024-02-25,38.box,301.731691,6,1,2,box
2024-04-17,mewtwo.box,29.610981,10,3,6,box
2024-04-24,0000.box,93.923366,8,1,2,box
2024-04-25,express.box,317.327581,11,3,7,box
2024-04-27,jane.box,1151.714038,8,3,4,box
2024-04-27,vm.box,31481.468013,6,1,4,box
2024-04-28,man.box,224.604619,7,2,4,box
2024-04-28,good.box,314.608157,8,3,4,box
2024-05-07,onyx.box,167.833449,8,2,5,box

In [212]:
combined_data = pd.concat([domain_data, filtered_box_2], ignore_index=True)

In [213]:
combined_data

,domain,price,domain_length,num_vowels,num_consonants,tld
0,altavista.com,3.250000e+06,13,5,7,com
1,bingo.com,1.100000e+06,9,3,5,com
2,fly.com,1.500000e+06,7,1,5,com
3,autos.com,2.200000e+06,9,4,4,com
4,england.com,2.000000e+06,11,3,7,com
...,...,...,...,...,...,...
348252,jane.box,1.151714e+03,8,3,4,box
348253,vm.box,3.148147e+04,6,1,4,box
348254,man.box,2.246046e+02,7,2,4,box
348255,good.box,3.146082e+02,8,3,4,box
348256,onyx.box,1.678334e+02,8,2,5,box

In [214]:
X = combined_data[features]
y = combined_data['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RÂ²: {r2}')

MAE: 2708.9834718161696
MSE: 2845754262.6555114
RÂ²: 0.0004163141819931715

In [224]:
def model_prep(data):
    data['domain_length'] = data['domain'].apply(len)
    data['num_vowels'] = data['domain'].apply(lambda x: sum([1 for char in x if char in 'aeiou']))
    data['num_consonants'] = data['domain'].apply(lambda x: sum([1 for char in x if char.isalpha() and char not in 'aeiou']))
    data['tld'] = data['domain'].apply(lambda x: x.split('.')[-1]) 
    return data

In [225]:
def value_domain(domain):
    domain_x = domain[features]
    value = pipeline.predict(domain_x)
    print(f'predicted value: {value}')
    return value

In [229]:
test_domain = 'eth.box'
test_domain_df = pd.DataFrame({'domain': [test_domain]})
test_domain_processed = model_prep(test_domain_df)
test_domain_value = value_domain(test_domain_processed)

predicted value: [2560.05298642]